<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{yield :title} - Poke Quiz Challenge" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body>
    <%= render 'layouts/components/navbar' %>

    <div class="container-fluid">
      <div class="card border border-0 shadow mx-2 my-3 p-4">
        <h4 class="fw-bold"><%= yield :title %></h4>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
